

.markdown h1 {
    @apply mb-5 mt-10 text-4xl;
}

.markdown h2 {
    @apply mb-5 mt-10 text-3xl;
}

.markdown h3 {
    @apply mb-3 mt-8 text-2xl;
}

.markdown p {
 line-height: 1.8rem;
 margin-top: 1rem;
}

latex-js {
    display: inline-block;
    text-indent: 0;
    /* overwriting the libraries default */
    --parindent: 0;
    transform: scale(1.1);
    margin: 0 0.5rem;
}

latex-js, .markdown code.inline {
    padding: 2px 10px;
    border-radius: 10px;
    background-color: rgb(31, 41, 55);
    color: white;
}

.markdown pre {
    @apply flex overflow-auto;
}

.markdown code.elixir {
    @apply bg-gray-800 rounded-lg p-4 my-10 w-full;
    @apply text-base lg:text-lg xl:text-xl;
}

.markdown code.mermaid {
    @apply p-4 w-full;
}

.markdown pre code {
    @apply bg-gray-800 block w-full p-4 my-10 rounded-lg
}

.markdown li {
    @apply list-disc;
    @apply ml-8;
    @apply mb-2;
}

.markdown p {
    @apply text-base lg:text-lg xl:text-xl;
}

.markdown details {
    @apply text-black
}

.markdown table {
    width: 100%;
}

.markdown td a {
    text-decoration: underline;
}

